.zastava {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr;
}

.zastava img {

  width: 1080px;
  height: 280px;
}

.ava img {
  float: left;
  height: 100px;
  border-radius: 50px;
  border: solid 5px;
  border-color: rgb(197, 192, 194);
  margin-right: 20px;
  margin-left: 10px;
}