.formControl.error input,
.formControl.error textarea {
    border: 2px solid red
}

.formControl.error input,
.formControl.error span {
    color: red
}

.formsControlsError {
    border: 2px solid red;
    color: red
}